.about .content h2 {
    font-weight: 700;
    font-size: 24px;
    color: var(--color-primary);
  }
  
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  
  .about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  .about .content ul strong {
    margin-right: 10px;
  }
  
  .about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: var(--color-primary);
    line-height: 0;
  }
  .about .content-box {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .about .content-text {
    overflow-y: auto;
  }
  .about .content h2 {
    font-weight: 700;
    font-size: 24px;
    color: var(--color-primary);
}

.about .content-text {
    overflow-y: auto;
    height: calc(100% - 3rem); // adjust this value based on your h2's line-height
    width: 100%;
}



